// Begin Footer
.container
  .end-note
    .align-left
      p 
        strong © GeekWiki.io
        em 2016
    .align-right
      .share.featured
        ul
          li
            a(data-icon='facebook', href='#')
          li
            a(data-icon='twitter', href='#')
          li
            a(data-icon='youtube', href='#')
      // // .share
    a.back(href='#wrapper', title='Back to top')
  // // .end-note
// // .container
// End Footer