// Begin header
.container
  .main.vertical-align-middle.horizontal-align-center
    .logo
      a(href='/', title='Geek Wiki')
        img(src='/assets/img/gw-logo.png', width='247', height='97', srcset='/assets/img/gw-logo.png 247w, /assets/img/gw-logo.png 494w', sizes='(max-width: 247px) 100vw, 247px', alt='GeekWiki')
    // // .logo
    include nav-left
    include nav-right
  // // .main
// // .container
// End header