// Begin Banner
.container
  .main.vertical-align-middle.horizontal-align-center
    .logo
      a(href='neutral-index.html', title='Live')
        img(src='/assets/img/thumbs/logo-247x97.png', width='247', height='97', srcset='/assets/img/thumbs/logo-247x97.png 247w, /assets/img/thumbs/logo-494x194.png 494w', sizes='(max-width: 247px) 100vw, 247px', alt='Neutral Live logo')
    // // .logo
    include nav-left
    include nav-right
  // // .main
// // .container
// End Banner