// Begin Nav Right
nav.dark
  ul
    li
      a(href='/right/1') Right Item 1
    li
      a(href='/right/2') Right Item 2
    li
      a(href='#') Right Group
      ul
        li
          a(href='#foo') Foo
// End Nav Right