// Begin Nav Right
nav.dark
  ul
    li
      a(href='neutral-typography.html') Typography
    li
      a(href='neutral-gallery-classic.html') Gallery
    li
      a(href='#') Pages
      ul
        li
          a(href='neutral-video.html') Video
        li
          a(href='neutral-gallery-classic.html') Galleries
          ul
            li
              a(href='neutral-gallery-classic.html') Classic
            li
              a(href='neutral-gallery-with-sidebar.html') With sidebar
            li
              a(href='neutral-gallery-masonry.html') Masonry
        li
          a(href='neutral-widgets.html') Widgets
        li
          a(href='neutral-contact.html') Contact
        li
          a(href='neutral-about.html') About
        li
          a(href='#log-in-form') Log in form
// End Nav Right