// Begin Nav Left
nav.dark
  ul
    li
      a(href='/') Home
    li
      a(href='/about') About
      ul
        li
          a(href='/about/admins.html') Admins
    li
      a(href='/articles') Content
      ul
        li
          a(href='/articles/publish.html') Publish Article
   
// End Nav Left