// Begin Post Loader
.post-loader(data-post-loader-url='php/post_loader.php', data-post-loader-count='5', data-post-loader-data='{"demo": "neutral"}')
  .box
    .box-content
      .small-title.post-loader-control
  // // .box
// // .post-loader
// End Post Loader