// Begin CSS
link(rel='icon', href='/assets/content/live/thumbs/favicon-32x32.png', sizes='32x32')
link(rel='icon', href='/assets/content/live/thumbs/favicon-192x192.png', sizes='192x192')
link(rel='apple-touch-icon-precomposed', href='/assets/content/live/thumbs/favicon-180x180.png')
link(rel='stylesheet', href='/assets/css/style-neutral.min.css')
link(rel='stylesheet', href='/assets/css/typo-open-sans-pt-sans-narrow.min.css')
// End CSS