$simple-icons: (
	"500px": #0099e5,
	"aboutme": #044a75,
	"air": #ff2d55,
	"airbnb": #ff5a5f,
	"amazon": #ff9900,
	"americanexpress": #2e77bc,
	"android": #a4c639,
	"appnet": #3a393c,
	"apple": #999999,
	"asana": #273347,
	"automatic": #7d8084,
	"baidu": #2319dc,
	"bandcamp": #408294,
	"basecamp": #66cc66,
	"bathasu": #00a3e0,
	"bebo": #de484a,
	"behance": #1769ff,
	"bigcartel": #222222,
	"bing": #008373,
	"bitbucket": #205081,
	"bitcoin": #f7931a,
	"bitly": #ee6123,
	"blogger": #f38936,
	"bootstrap": #563d7c,
	"buzzfeed": #ee3322,
	"campaignmonitor": #19a9e5,
	"circleci": #343434,
	"codeschool": #4cadc0,
	"codecademy": #204056,
	"codepen": #000000,
	"coderwall": #3e8dcc,
	"codio": #4574e0,
	"compropago": #00aaef,
	"conekta": #414959,
	"coop": #00a1cc,
	"coursera": #757575,
	"csswizardry": #f43059,
	"dailymotion": #0066dc,
	"deezer": #00c7f2,
	"delicious": #3399ff,
	"designernews": #2d72d9,
	"deviantart": #05cc47,
	"diaspora": #000000,
	"digg": #000000,
	"digitalocean": #0080ff,
	"discord": #7289da,
	"disqus": #2e9fff,
	"docker": #1488c6,
	"draugiemlv": #ff6600,
	"dribbble": #ea4c89,
	"dropbox": #007ee5,
	"drupal": #0678be,
	"ebay": #e53238,
	"ello": #000000,
	"empirekred": #72be50,
	"ethereum": #3c3c3d,
	"etsy": #f45800,
	"eventstore": #5ab552,
	"eventbrite": #f6682f,
	"evernote": #6fb536,
	"everplaces": #fa4b32,
	"facebook": #3b5998,
	"feedly": #6cc655,
	"fitbit": #00b0b9,
	"flickr": #0063dc,
	"flipboard": #e12828,
	"foursquare": #f94877,
	"freecodecamp": #006600,
	"gauges": #339966,
	"geeklist": #8cc63f,
	"geocaching": #467126,
	"ghost": #718087,
	"git": #f14e32,
	"github": #181717,
	"gitlab": #e24329,
	"gitter": #ff0064,
	"glassdoor": #7cb228,
	"goldenline": #fbbf00,
	"goodreads": #663300,
	"google": #4285f4,
	"googleplus": #dc4e41,
	"googleanalytics": #ffc107,
	"googledrive": #4386fc,
	"googlehangouts": #0c9d58,
	"googleplay": #607d8b,
	"govuk": #005ea5,
	"gratipay": #663300,
	"grav": #221e1f,
	"gravatar": #1e8cbe,
	"gulp": #da4648,
	"gumtree": #72ef36,
	"hatenabookmark": #00a4de,
	"heroku": #430098,
	"hipchat": #205281,
	"hootsuite": #000000,
	"houzz": #7ac142,
	"html5": #e34f26,
	"hulu": #66aa33,
	"imdb": #e6b91e,
	"instacart": #43b02a,
	"instagram": #e4405f,
	"instapaper": #1f1f1f,
	"intercom": #1f8ded,
	"invision": #ff3366,
	"jekyll": #cc0000,
	"javascript": #f7df1e,
	"jenkins": #d24939,
	"joomla": #5091cd,
	"justgiving": #ad29b6,
	"jsfiddle": #4679a4,
	"json": #000000,
	"kaggle": #20beff,
	"khanacademy": #9db63b,
	"kickstarter": #2bde73,
	"kik": #82bc23,
	"kirby": #ff0100,
	"klout": #e44600,
	"koding": #00b057,
	"lanyrd": #3c80ca,
	"laravel": #e74430,
	"lastfm": #d51007,
	"launchpad": #f8c300,
	"line": #00c300,
	"linkedin": #0077b5,
	"linuxfoundation": #009bee,
	"livejournal": #00b0ea,
	"livestream": #cf202e,
	"macys": #e11a2b,
	"magento": #ee672f,
	"mailchimp": #2c9ab7,
	"makerbot": #ff1e0d,
	"mastercard": #eb001b,
	"matternet": #261c29,
	"mediatemple": #000000,
	"medium": #00ab6b,
	"meetup": #e2373c,
	"messenger": #0084ff,
	"microgenetics": #ff0000,
	"microsoft": #666666,
	"microsoftaccess": #ba141a,
	"microsoftexcel": #217346,
	"microsoftonenote": #80397b,
	"microsoftoutlook": #0072c6,
	"microsoftpowerpoint": #d24726,
	"microsoftword": #2b579a,
	"minecraft": #62b74a,
	"minutemailer": #3abfe6,
	"mixcloud": #314359,
	"monero": #ff6600,
	"monkeytie": #ffc619,
	"monogram": #fdb22a,
	"moo": #00945e,
	"myspace": #030303,
	"netflix": #e50914,
	"nintendo": #8f8f8f,
	"oculus": #1c1e20,
	"odnoklassniki": #f4731c,
	"onedrive": #094ab2,
	"opera": #ff1b2d,
	"overcast": #fc7e0f,
	"ovh": #123f6d,
	"patreon": #e6461a,
	"paypal": #00457c,
	"periscope": #40a4c4,
	"pingup": #00b1ab,
	"pinterest": #bd081c,
	"playerme": #c0379a,
	"playstation": #000000,
	"pocket": #ef3f56,
	"podcasts": #9933cc,
	"producthunt": #da552f,
	"protoio": #34a7c1,
	"quantopian": #c50000,
	"quora": #b92b27,
	"raspberrypi": #c7053d,
	"rdio": #008fd5,
	"react": #00d8ff,
	"readability": #990000,
	"readthedocs": #8ca1af,
	"reddit": #ff4500,
	"reverbnation": #e43526,
	"rss": #ffa500,
	"ruby": #cc342d,
	"runkeeper": #2dc9d7,
	"sass": #cc6699,
	"saucelabs": #ec4047,
	"scribd": #1a7bba,
	"sega": #0089cf,
	"sellfy": #21b352,
	"sentiayoga": #4caf50,
	"sentry": #fb4226,
	"shopify": #7ab55c,
	"simpleicons": #111111,
	"sinaweibo": #e6162d,
	"sitepoint": #258aaf,
	"skyliner": #2fcea0,
	"skype": #00aff0,
	"slack": #56b68b,
	"slashdot": #026664,
	"slides": #e4637c,
	"smashingmagazine": #e85c33,
	"snapchat": #fffc00,
	"songkick": #f80046,
	"soundcloud": #ff3300,
	"speakerdeck": #339966,
	"spotify": #1ed760,
	"spotlight": #352a71,
	"spreaker": #f5c300,
	"squarespace": #000000,
	"stackoverflow": #fe7a16,
	"statamic": #1f3641,
	"steam": #000000,
	"stitcher": #000000,
	"storify": #3a98d9,
	"stripe": #008cdd,
	"stubhub": #003168,
	"stumbleupon": #eb4924,
	"styleshare": #231f20,
	"subversion": #809cc9,
	"swarm": #fbb631,
	"ted": #e62b1e,
	"teespring": #39ace6,
	"telegram": #2ca5e0,
	"tesla": #cc0000,
	"tinder": #ff6b6b,
	"toggl": #c5000b,
	"topcoder": #29a8e0,
	"toptal": #3863a0,
	"trakt": #ed1c24,
	"travisci": #39a85b,
	"treehouse": #5fcf80,
	"trello": #0079bf,
	"tripadvisor": #589442,
	"trulia": #53b50a,
	"tumblr": #36465d,
	"twilio": #e12127,
	"twitch": #6441a5,
	"twitter": #1da1f2,
	"twoo": #ff7102,
	"uber": #000000,
	"ubuntu": #dd4814,
	"udacity": #01b3e3,
	"viadeo": #f88d2d,
	"viber": #7c529e,
	"vimeo": #1ab7ea,
	"vine": #11b48a,
	"virb": #0093da,
	"visa": #142787,
	"vk": #6383a8,
	"vuejs": #4fc08d,
	"wechat": #7bb32e,
	"whatsapp": #25d366,
	"wikipedia": #000000,
	"windows": #0078d6,
	"wire": #000000,
	"wix": #ffc233,
	"wordpress": #21759b,
	"xbox": #107c10,
	"xero": #13b5ea,
	"xing": #005a5f,
	"yahoo": #440099,
	"yammer": #0072c6,
	"yelp": #c41200,
	"youtube": #cd201f,
	"zapier": #ff4a00,
	"zendesk": #03363d,
	"zerply": #9dbc7a,
	"zillow": #0074e4
);