//- This article 'page' is for the full version of the article/blog post.

//- Include Template Base
extends ../base

//- Content blog for post
block content
  article.box-page

    // Begin Alpha Box
    .box-alpha
      // Begin Alpha Tags
      ul.tags
        li.tag-category
          a(href="#")
            span(data-hover="Livestream") Livestream
        li.tag-category
          a(href="#")
            span(data-hover="Some category") Some category
        li.tag-category
          a(href="#")
            span(data-hover="4 comments") 4 comments
      // End Alpha Tags

      if alpha_content
        // Begin Alpha Content
        .box-content
          p 
            != alpha_content
        // End Alpha Content

    // End Alpha Box


    .box-beta
      
      // Begin Beta Content
      .box-content
        h2.box-title 
          != title

        //- Only show the subtitle if either the author or subtitle is defined, and subtitle is NOT false
        if ( author || subtitle ) && subtitle != false
          p.small-title
            span.subtitle-value
              strong
                //- Give precedence to the subtitle metadata value, if set
                if subtitle
                  != subtitle
                else
                  +compileAuthorLink( author )

        //- Only show page headline if theres a result
          if _subtitle.string 
            // Begin Headline
            p.small-title
              if _subtitle.prefix
                span
                  span.subtitle-prefix
                    != _subtitle.prefix
                  span.subtitle-value
                    strong
                      != _subtitle.string
              else
                span.subtitle-value
                  strong
                    != _subtitle.string
            // End Headline


         


            

        // Begin Page Contents
        != contents
        // End Page Contents

        .share
          include ../partials/share

      // Begin Tags
      include ../partials/tags
      // End Tags

      //-
        // // .box-content
        ul.tags
          li
            a(href='neutral-index.html')
              span(data-hover='another tag') another tag
          li
            a(href='neutral-index.html')
              span(data-hover='neutral') neutral
          li
            a(href='neutral-index.html')
              span(data-hover='example tag') example tag
          li
            a(href='neutral-index.html')
              span(data-hover='live template') live template
        // // .tags
    // Begin Beta Content
