article.box-post.sticky
  .box-beta
    ul.tags
      li.tag-timestamp 1 sec ago
      li.tag-category
        a(href='neutral-index.html')
          span(data-hover='Livestream') Livestream
      li.tag-category
        a(href='neutral-index.html')
          span(data-hover='Some category') Some category
    .box-content
      h2.box-title
        a(href='neutral-post-1.html') Live relation directly from an imporant event
      .broadcast(data-broadcast-url='php/broadcast.php', data-broadcast-interval='10', data-broadcast-limit='5', data-broadcast-data='{"demo": "neutral", "count": 2}')
      p
        | Anim minim est at aute. Risus nullam senectus arcu dictum aliquet. Dictum commodo nam dolor ultricies cras. Quisque dignissim quam et enim ea. Pulvinar nunc quis purus dignissim pellentesque.
    .meta
      .share
        span Share:
        ul
          li
            a(data-icon='facebook', href='#')
          li
            a(data-icon='twitter', href='#')
          li
            a(data-icon='googleplus', href='#')
          li
            a(data-icon='pinterest', href='#')
          li
            a(data-icon='email', href='#')
      a.more-link(href='neutral-post-1.html')
        span(data-hover='More') More
    // // .meta
  // // .box-beta