doctype html
html.no-js.no-touch(lang='en')
  head
    include partials/html/head
  body
    #wrapper
      // Begin Header
      header#header
        //- Include Header
        include partials/header
      // End Header
      // Begin Body Content
      .container
        include banner
        // // .box-post
        include partials/article/base
        include partials/post-loader
      // End Body Content
      // // .container
      footer#footer
        include partials/footer
    // // #wrapper
    #log-in-form.modal
      .modal-content
        img.align-center(src='/assets/img/thumbs/logo-212x83.png', width='212', height='83', srcset='/assets/img/thumbs/logo-212x83.png 212w, /assets/img/thumbs/logo-424x166.png 424w', sizes='(max-width: 212px) 100vw, 212px', alt='Logo')
        form(action='#filename', method='post')
          p
            input.width-full(type='email', placeholder='e-mail', required='')
          p
            input.width-full(type='password', placeholder='password', required='')
          p
            input.width-full(type='submit', value='Log in')
          p.form-links
            a(href='#filename') Sign up ›
            a(href='#filename') Forget password?
      // // .modal-content
      a.close
    // // #log-in-form.modal
    include partials/assets/js
