//- 
  This is the base template, which is basically all of the common 
  components of nearly every page

doctype html
html.no-js.no-touch(lang='en')
  head
    include partials/html/head
  body
    #wrapper
      // Begin Header
      header#header
        //- Include Header
        include partials/header
      // End Header
      // Begin Body Content
      .container
        //-include banner
        // Content
        include articles/foo
        include articles/bar
        include articles/foo
        include articles/bar
      // End Body Content
      // // .container
      footer#footer
        include partials/footer
    // // #wrapper
    include partials/assets/js
