include components/utils

doctype html
html.no-js.no-touch(lang='en')
  head
    include partials/html/head
  body
    #wrapper
      // Begin Header
      header#header
        //- Include Header
        include partials/header
      // End Header
      // Begin Body Content
      .container
        //- Example with no title provided
        +article-post0()
          h3 This is an example of article ONE
          p Just some other content...

        //- Example with title provided
        +article-post0({ title: '<strong>Example</strong> Using Post <em>Mixin #2</em>'})
          h3 This is an example of article ONE
          p Just some other content...
       
        //-
          +article-post1('Post Numero Uno!..')
            p
              | bla bla bla.. BLA BLA!
              |  Nullam do sunt nascetur nisi conubia. Reprehenderit iaculis viverra hendrerit amet cubilia commodo.
            p
              | Paragraph TWO!...

          +article-post('Post Num TWOOOOO')
            h3 Step One
            p Blah blah... foo, bar...
            hr
            h3 Step Two
            p Lacus lacinia diam sagittis mollis consectetuer auc
            hr
            h3 Step Three
            p m nostrud viverra rutrum exercitation tortor m

        
        +article-post2({
          title: '<strong>Example</strong> Using Post <em>Mixin #2</em>',
          categories: [{
            href: '#FOO',
            title: 'Testing One'
          },{
            href: '#Bar',
            title: 'Testing TWO'
          }]
        })
          h3(style="text-align: left !important;") Step One
          p Blah blah... foo, bar...
          hr
          h3(style="text-align: left !important;") Step Two
          p Lacus lacinia diam sagittis mollis consectetuer auc
          hr
          h3(style="text-align: left !important;") Step Three
          p m nostrud viverra rutrum exercitation tortor mo

        +article-post3({
          title: 'Example Using Post Mixin #3',
          categories: [
            ['Testing One','#FOO'],
            ['Testing TWO','#Bar']
          ]
        })

      // End Body Content
      // // .container
      footer#footer
        include partials/footer
    // // #wrapper
    #log-in-form.modal
      .modal-content
        img.align-center(src='/assets/img/thumbs/logo-212x83.png', width='212', height='83', srcset='/assets/img/thumbs/logo-212x83.png 212w, /assets/img/thumbs/logo-424x166.png 424w', sizes='(max-width: 212px) 100vw, 212px', alt='Logo')
        form(action='#filename', method='post')
          p
            input.width-full(type='email', placeholder='e-mail', required='')
          p
            input.width-full(type='password', placeholder='password', required='')
          p
            input.width-full(type='submit', value='Log in')
          p.form-links
            a(href='#filename') Sign up ›
            a(href='#filename') Forget password?
      // // .modal-content
      a.close
    // // #log-in-form.modal
    include partials/assets/js
