//- This article 'page' is for the full version of the article/blog post.

//- Include Template Base
extends ./base

//- Content blog for post
block content
  // All Local Variables
  - var localVars = JSON.stringify( Object.keys(locals) )
  | <!-- Local Vars: !{localVars} -->
  // Begin Box Page
  article.box-page

    // Begin Alpha Box
    .box-alpha

      // Begin Alpha Tags
      +keyword-list( tags ).float-left
      // End Alpha Tags

      if alpha_content
        // Begin Alpha Content
        .box-content
          p 
            != alpha_content
        // End Alpha Content
    // End Alpha Box

    // Begin Beta Box
    .box-beta
      // Begin Beta Content
      .box-content
        h2.box-title 
          != title

        //- Only show the subtitle if either the author or subtitle is defined, and subtitle is NOT false
        if ( author || subtitle ) && subtitle != false
          p.small-title
            span.subtitle-value
              strong
                //- Give precedence to the subtitle metadata value, if set
                if subtitle
                  != subtitle
                else
                  +compileAuthorLink( author )

        //- Only show page headline if theres a result
          if _subtitle.string 
            // Begin Headline
            p.small-title
              if _subtitle.prefix
                span
                  span.subtitle-prefix
                    != _subtitle.prefix
                  span.subtitle-value
                    strong
                      != _subtitle.string
              else
                span.subtitle-value
                  strong
                    != _subtitle.string
            // End Headline

        // Begin Page Contents
        != contents
        // End Page Contents

        //- The share partial handles the logic that determines if any share links should be displayed
        include ./partials/share

      // End Beta Content

      // Begin Beta Tags
      //- The beta box tags are tags that the author can define
      //- include ./partials/tags
      +keyword-list( tags ).float-right
      // End Beta Tags

      //-
        // // .box-content
        ul.tags
          li
            a(href='neutral-index.html')
              span(data-hover='another tag') another tag
          li
            a(href='neutral-index.html')
              span(data-hover='neutral') neutral
          li
            a(href='neutral-index.html')
              span(data-hover='example tag') example tag
          li
            a(href='neutral-index.html')
              span(data-hover='live template') live template
        // // .tags
    // End Beta Box
  // End Box Page