// Begin Article1
article.box-post
  .box-alpha
    figure.featured-image
      a(href='neutral-post-2.html')
        span.slideshow
          img(src='/assets/img/thumbs/video-1-767x431.jpg', width='767', height='431', srcset='/assets/img/thumbs/video-1-767x431.jpg 767w, /assets/img/thumbs/video-1-1534x862.jpg 1534w', sizes='(max-width: 767px) 100vw, 767px', alt='Video 1')
          img(src='/assets/img/thumbs/video-2-767x431.jpg', width='767', height='431', srcset='/assets/img/thumbs/video-2-767x431.jpg 767w, /assets/img/thumbs/video-2-1534x862.jpg 1534w', sizes='(max-width: 767px) 100vw, 767px', alt='Video 2')
          img(src='/assets/img/thumbs/video-3-767x431.jpg', width='767', height='431', srcset='/assets/img/thumbs/video-3-767x431.jpg 767w, /assets/img/thumbs/video-3-1534x862.jpg 1534w', sizes='(max-width: 767px) 100vw, 767px', alt='Video 3')
        span.slideshow
          img(src='/assets/img/thumbs/video-1-350x420.jpg', width='350', height='420', srcset='/assets/img/thumbs/video-1-350x420.jpg 350w, /assets/img/thumbs/video-1-700x840.jpg 700w', sizes='(max-width: 767px) 100vw, 350px', alt='Video 1')
          img(src='/assets/img/thumbs/video-2-350x420.jpg', width='350', height='420', srcset='/assets/img/thumbs/video-2-350x420.jpg 350w, /assets/img/thumbs/video-2-700x840.jpg 700w', sizes='(max-width: 767px) 100vw, 350px', alt='Video 2')
          img(src='/assets/img/thumbs/video-3-350x420.jpg', width='350', height='420', srcset='/assets/img/thumbs/video-3-350x420.jpg 350w, /assets/img/thumbs/video-3-700x840.jpg 700w', sizes='(max-width: 767px) 100vw, 350px', alt='Video 3')
  // // .box-alpha
  .box-beta
    ul.tags
      li.tag-timestamp 8 hours ago
      li.tag-category
        a(href='neutral-index.html')
          span(data-hover='Journal') Journal
      li.tag-category
        a(href='neutral-index.html')
          span(data-hover='Video') Video
    .box-content
      h2.box-title
        a(href='neutral-post-2.html') Example post with video player and table
      p
        | Enim hendrerit nascetur eiusmod vestibulum mollis. Consectetuer neque blandit ligula dolor. Adipiscing etiam praesent aptent tristique fames metus egestas.
      .table
        table.width-full
          caption (provisional results)
          colgroup
            col.width-min
            col
            col.width-min
            col
            col.width-min
          tbody
            tr
              td 1.
              td Marcus Wandenberg
              td NED
              td Axis Cayen 4
              td 3:42:55
            tr
              td 2.
              td Andrea McKinley
              td GBR
              td Ozone Triton 25
              td 3:48:00
            tr
              td 3.
              td Thomas Morgentaller
              td FRA
              td BGD Mantra 3
              td 3:50:21
            tr.highlight
              td 7.
              td Yassen Nullam
              td SWE
              td Gin Freex 2
              td 4:01:12
      // // .table
    // // .box-content
    .meta
      .share
        span Share:
        ul
          li
            a(data-icon='facebook', href='#')
          li
            a(data-icon='twitter', href='#')
          li
            a(data-icon='googleplus', href='#')
          li
            a(data-icon='pinterest', href='#')
          li
            a(data-icon='email', href='#')
      a.more-link(href='neutral-post-2.html')
        span(data-hover='More') More
    // // .meta
  // // .box-beta
// // .box-post
// End Article1