// Begin Article4
article.box-post
  .box-alpha
    figure.featured-image
      a(href='neutral-post-5.html')
        img(src='/assets/img/thumbs/interior-man-767x431.jpg', width='767', height='431', srcset='/assets/img/thumbs/interior-man-767x431.jpg 767w, /assets/img/thumbs/interior-man-1534x862.jpg 1534w', sizes='(max-width: 767px) 100vw, 767px', alt='Interior man')
        img(src='/assets/img/thumbs/interior-man-350x420-04x05.jpg', width='350', height='420', srcset='/assets/img/thumbs/interior-man-350x420-04x05.jpg 350w, /assets/img/thumbs/interior-man-700x840-04x05.jpg 700w', sizes='(max-width: 767px) 100vw, 350px', alt='Interior man')
  // // .box-alpha
  .box-beta
    ul.tags
      li.tag-timestamp 6 days ago
        //- Timestamp Here
      li.tag-category
        a(href='neutral-index.html')
          span(data-hover='Lifestyle') Lifestyle
      li.tag-category
        a(href='neutral-index.html')
          span(data-hover='Tips and tricks') Tips and tricks
    .box-content
      h2.box-title
        a(href='neutral-post-5.html') 10 practical interior design advices
      p
        | Do et euismod varius urna vivamus. Pretium arcu ligula nisi proident. Lacinia pellentesque qui mi porta parturient. Bibendum feugiat inceptos facilisis dictum anim metus. Leo nam dictum magnis duis. Idleo proident pede tortor mus nisi duis class labore tempor ea ligula velit netus venenatis cum libero purus morbi habitant nostrud.
      p
        | Anim proident aliquip euismod commodo nisi consectetuer vel. Sagittis habitant laborum aute a quisque laboris orci quam sem. Nullam do sunt nascetur nisi conubia. Reprehenderit iaculis viverra hendrerit amet cubilia sem cubilia pariatur. Commodo consectetuer auctor imperdiet aptent nunc primis feugiat anim.
    // // .box-content
    .meta
      .share
        span Share:
        ul
          li
            a(data-icon='facebook', href='#')
          li
            a(data-icon='twitter', href='#')
          li
            a(data-icon='googleplus', href='#')
          li
            a(data-icon='pinterest', href='#')
          li
            a(data-icon='email', href='#')
      a.more-link(href='neutral-post-5.html')
        span(data-hover='More') More
    // // .meta
  // // .box-beta
// // .box-post
// End Article4