// Begin Article3
article.box-post
  .box-beta
    ul.tags
      li.tag-timestamp 4 days ago
      li.tag-category
        a(href='neutral-index.html')
          span(data-hover='Essay') Essay
      li.tag-category
        a(href='neutral-index.html')
          span(data-hover='Tips and tricks') Tips and tricks
    .box-content
      h2.box-title
        a(href='neutral-post-4.html') This post doesn't have any images - just pure text
      p
        | Sanim minim est at aute. Risus nullam senectus arcu dictum aliquet. Dictum commodo nam dolor ultricies cras quisque dignissim quam et enim eartes nullam. Penatibus condimentum aliquam. Diam vehicula quis volutpat nisi auctor penat sibus risus congue tincidunt lorem pariatur. 
        mark Eque pellentesque metus parturient porttitor per malesuada.
        |  Nullam do sunt nascetur nisi conubia. Reprehenderit iaculis viverra hendrerit amet cubilia commodo.
      p
        | Lacus lacinia diam sagittis mollis consectetuer auctor imperdiet aptent nunc primis feugiat anim. Pretium facilisis aenean ligula aute facilisi do. Accumsan voluptate sodales enim nostrud viverra rutrum exercitation tortor morbi tellus qui. Fusce vehicula class conubia aliquam dapibus consectetuer ad curae euismod sollicitudin dictum aliquet.
    // // .box-content
    .meta
      .share
        span Share:
        ul
          li
            a(data-icon='facebook', href='#')
          li
            a(data-icon='twitter', href='#')
          li
            a(data-icon='googleplus', href='#')
          li
            a(data-icon='pinterest', href='#')
          li
            a(data-icon='email', href='#')
      a.more-link(href='neutral-post-4.html')
        span(data-hover='More') More
    // // .meta
  // // .box-beta
// // .box-post
// End Article3