// Begin Article2
article.box-post
  .box-alpha
    figure.featured-image
      a(href='neutral-post-3.html')
        img(src='/assets/img/thumbs/flowers-pinky-767x431.jpg', width='767', height='431', srcset='/assets/img/thumbs/flowers-pinky-767x431.jpg 767w, /assets/img/thumbs/flowers-pinky-1534x862.jpg 1534w', sizes='(max-width: 767px) 100vw, 767px', alt='Flowers pinky')
        img(src='/assets/img/thumbs/flowers-pinky-350x420.jpg', width='350', height='420', srcset='/assets/img/thumbs/flowers-pinky-350x420.jpg 350w, /assets/img/thumbs/flowers-pinky-700x840.jpg 700w', sizes='(max-width: 767px) 100vw, 350px', alt='Flowers pinky')
    .featured-gallery
      a(href='/assets/img/thumbs/flowers-hand-1920x1080.jpg')
        img(src='/assets/img/thumbs/flowers-hand-157x157.jpg', width='157', height='157', srcset='/assets/img/thumbs/flowers-hand-157x157.jpg 157w, /assets/img/thumbs/flowers-hand-314x314.jpg 314w', sizes='(max-width: 767px) 100vw, 157px', alt='Flowers hand')
      a(href='/assets/img/thumbs/flowers-wires-1920x1080.jpg')
        img(src='/assets/img/thumbs/flowers-wires-157x157.jpg', width='157', height='157', srcset='/assets/img/thumbs/flowers-wires-157x157.jpg 157w, /assets/img/thumbs/flowers-wires-314x314.jpg 314w', sizes='(max-width: 767px) 100vw, 157px', alt='Flowers wires')
      a(href='/assets/img/thumbs/flower-white-1920x1080.jpg')
        img(src='/assets/img/thumbs/flower-white-157x157.jpg', width='157', height='157', srcset='/assets/img/thumbs/flower-white-157x157.jpg 157w, /assets/img/thumbs/flower-white-314x314.jpg 314w', sizes='(max-width: 767px) 100vw, 157px', alt='Flower white')
      a(href='/assets/img/thumbs/flowers-detail-1920x1080.jpg', data-featured-gallery-count='4')
        img(src='/assets/img/thumbs/flowers-detail-157x157.jpg', width='157', height='157', srcset='/assets/img/thumbs/flowers-detail-157x157.jpg 157w, /assets/img/thumbs/flowers-detail-314x314.jpg 314w', sizes='(max-width: 767px) 100vw, 157px', alt='Flowers detail')
      a(href='/assets/img/thumbs/flowers-bee-1920x1080.jpg')
      a(href='/assets/img/thumbs/flowers-full-1920x1080.jpg')
      a(href='/assets/img/thumbs/flowers-grain-1920x1080.jpg')
      a(href='/assets/img/thumbs/flowers-sun-1920x1080.jpg')
    // // .featured-gallery
  // // .box-alpha
  .box-beta
    ul.tags
      li.tag-timestamp 3 days ago
      li.tag-category
        a(href='neutral-index.html')
          span(data-hover='Photography') Photography
    .box-content
      h2.box-title
        a(href='neutral-post-3.html') Field photo session with new budget camera. Light conditions, hard subject.
      p
        | Risus nullam senectus arcu dictum aliquet. Dictum commodo nam dolor ultricies cras. Quisque dignissim quam et enim ea. Pulvinar nunc quis purus dignissim pellentesque. Nullam do sunt nascetur nisi conubia reprehenderit iaculis.
      p
        | Commodo consectetuer auctor imperdiet aptent nunc. Primis feugiat anim diam enim. Orci placerat pede aliquip auctor odio. Cyrenaici quidem non recusant; Itaque in rebus minime obscuris non multus est apud eos disserendi labor. Quae autem natura suae primae institutionis oblita est. Sed ad bona praeterita redeamus.
    // // .box-content
    .meta
      .share
        span Share:
        ul
          li
            a(data-icon='facebook', href='#')
          li
            a(data-icon='twitter', href='#')
          li
            a(data-icon='googleplus', href='#')
          li
            a(data-icon='pinterest', href='#')
          li
            a(data-icon='email', href='#')
      a.more-link(href='neutral-post-3.html')
        span(data-hover='More') More
    // // .meta
  // // .box-beta
// // .box-post
// End Article2