.share
  span Share:
  ul
    li
      a(data-icon='facebook', href='#')
    li
      a(data-icon='twitter', href='#')
    li
      a(data-icon='googleplus', href='#')
    li
      a(data-icon='pinterest', href='#')
    li
      a(data-icon='email', href='#')