span.slideshow
  img(src='/assets/img/thumbs/video-1-767x431.jpg', width='767', height='431', srcset='/assets/img/thumbs/video-1-767x431.jpg 767w, /assets/img/thumbs/video-1-1534x862.jpg 1534w', sizes='(max-width: 767px) 100vw, 767px', alt='Video 1')
  img(src='/assets/img/thumbs/video-2-767x431.jpg', width='767', height='431', srcset='/assets/img/thumbs/video-2-767x431.jpg 767w, /assets/img/thumbs/video-2-1534x862.jpg 1534w', sizes='(max-width: 767px) 100vw, 767px', alt='Video 2')
  img(src='/assets/img/thumbs/video-3-767x431.jpg', width='767', height='431', srcset='/assets/img/thumbs/video-3-767x431.jpg 767w, /assets/img/thumbs/video-3-1534x862.jpg 1534w', sizes='(max-width: 767px) 100vw, 767px', alt='Video 3')
span.slideshow
  img(src='/assets/img/thumbs/video-1-350x420.jpg', width='350', height='420', srcset='/assets/img/thumbs/video-1-350x420.jpg 350w, /assets/img/thumbs/video-1-700x840.jpg 700w', sizes='(max-width: 767px) 100vw, 350px', alt='Video 1')
  img(src='/assets/img/thumbs/video-2-350x420.jpg', width='350', height='420', srcset='/assets/img/thumbs/video-2-350x420.jpg 350w, /assets/img/thumbs/video-2-700x840.jpg 700w', sizes='(max-width: 767px) 100vw, 350px', alt='Video 2')
  img(src='/assets/img/thumbs/video-3-350x420.jpg', width='350', height='420', srcset='/assets/img/thumbs/video-3-350x420.jpg 350w, /assets/img/thumbs/video-3-700x840.jpg 700w', sizes='(max-width: 767px) 100vw, 350px', alt='Video 3')