/**
 * @package Live
 * @since   2.0
 */

/*
 * Imports
 */
@import "bourbon/bourbon";

/*
 * Utils
 */
$hover-zoom-shadow: rgba(#000, 0.3);

$hover-flash-color: #fff;

/*
 * Base
 */
$body-background: #cbba1e;

$text-color: #e9e9e9;
$text-alt-color: #5e560d;

$link-color: #f5e123;

$line-color: #3c3c3c;

$small-color: #909090;

$mark-background: $link-color;
$mark-color: #000;

$headline-color: #e0ce20;

$nav-color: $headline-color;
$nav-line-color: $line-color;

$table-border-color: $line-color;
$table-header-color: #eaeaea;
$table-header-background: rgba($table-header-color, 0.1);
$table-highlight-background: rgba(#fff, 0.06);

$input-border-color: #0e0e0e #313131 #313131 #0e0e0e;
$input-background: #272727;
$input-text-color: #f3f3f3;
$input-placeholder-color: #878787;

$button-background: $body-background;
$button-color: #000;
$button-disabled-background: #979797;
$button-disabled-color: #484848;
$button-success-background: #197d14;
$button-error-background: #b10404;

/*
 * Boxes
 */
$box-background-color: #111;
$box-background-image: null;

$featured-gallery-overlay-background: #000;
$featured-gallery-count-color: #fff;
$featured-gallery-count-shadow: #000;

$more-link-background: $body-background;
$more-link-color: $button-color;

$comment-timestamp-color: $text-alt-color;
$comment-line-color: $line-color;

/*
 * Elements
 */
$caption-color: $small-color;

$small-title-color: $text-alt-color;

$form-links-color: $text-alt-color;

$tag-bright-color: $button-color;
$tag-dark-color: $button-color;
$tag-background: (
	"default": #7d8e22 darken(#7d8e22, 6%)
);

$posts-list-line-color: $line-color;

$tag-cloud-border-color: $text-alt-color;
$tag-cloud-color: $button-background;
$tag-cloud-hover-background: $tag-cloud-color;
$tag-cloud-hover-color: $button-color;

$broadcast-line-color: $text-alt-color;

$share-text-color: $small-color;
$share-icon-color: $box-background-color;
$share-icon-background: $share-text-color;
$share-icon-active-color: #fff;
$share-icon-active-background: $button-background;

$pagination-current-color: $headline-color;

$modal-overlay: rgba(#000, 0.75);
$modal-shadow: rgba(#000, 0.5);
$modal-close-background: #767676;
$modal-close-color: #181818;
$modal-close-hover-background: $button-background;
$modal-close-hover-color: $button-color;

/*
 * Structure
 */
$header-share-icon-color: #000;
$header-share-icon-background: #f0f0f0;
$header-nav-bright-color: #f0f0f0;
$header-nav-dark-color: #212121;
$header-nav-hover-color: #f7f7f7;
$header-nav-sub-color: $header-nav-bright-color;
$header-nav-sub-hover-color: $header-nav-hover-color;
$header-nav-sub-background: $box-background-color;
$header-nav-sub-shadow: rgba(#000, 0.2);

$end-note-text-color: $text-alt-color;
$end-note-back-background: $end-note-text-color;

/*
 * 3rd party
 */
$simple-lightbox-overlay-background: rgba(#000, 0.7);
$simple-lightbox-counter-color: #fff;
$simple-lightbox-button-color: #fff;
$simple-lightbox-spinner-color: #ccc;

@import "bootstrap";